USE [master]
GO
/****** Object:  Database [ITStudyHubDB]    Script Date: 9/11/2026 9:59:29 AM ******/
CREATE DATABASE [ITStudyHubDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITStudyHubDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ITStudyHubDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITStudyHubDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ITStudyHubDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITStudyHubDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITStudyHubDB]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 9/11/2026 9:59:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [varchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 9/11/2026 9:59:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[LessonTitle] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CourseID] [int] NOT NULL,
	[LessonOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 9/11/2026 9:59:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](500) NOT NULL,
	[OptionB] [nvarchar](500) NOT NULL,
	[OptionC] [nvarchar](500) NOT NULL,
	[OptionD] [nvarchar](500) NOT NULL,
	[CorrectAnswer] [char](500) NOT NULL,
	[LessonID] [int] NOT NULL,
 CONSTRAINT [PK__Question__0DC06F8C765C20E2] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/11/2026 9:59:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[PreferredLanguage] [varchar](10) NOT NULL,
	[PreferredTheme] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description]) VALUES (1, N'DataBase', N'Introduction to SQL and Relational Databases')
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description]) VALUES (2, N'Object Oriented Software Engineering', N'This course represent how we can ''design software''')
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Role], [PreferredLanguage], [PreferredTheme]) VALUES (1, N'Salma', N'Salmaalrjoub675@gmail.com', N'salma456', N'Student', N'en', N'light')
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Role], [PreferredLanguage], [PreferredTheme]) VALUES (2, N'Omar', N'omarahmad5@gmail.com', N'oomar6', N'Teacher', N'en', N'light')
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Role], [PreferredLanguage], [PreferredTheme]) VALUES (5, N'salma', N'yara@gmaile.com', N'$2a$11$lyFyfm57IdlyByj/QcG78unM8BG2wdGaMMvMeLpyvvwgd1TLfVqti', N'Student', N'en', N'light')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053489D9653E]    Script Date: 9/11/2026 9:59:32 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((1)) FOR [LessonOrder]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('en') FOR [PreferredLanguage]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('light') FOR [PreferredTheme]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK__Questions__Lesso__2C3393D0] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK__Questions__Lesso__2C3393D0]
GO
USE [master]
GO
